include _navigation

mixin header
    header(id="about-page-header" class="container-fluid")
        +navigation
        div(class="col-sm-2")
            h1
                | About Us
        div(class="col-sm-5 left-text-container")
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus labore, tempora repellat pariatur animi. Enim laboriosam ducimus cumque, voluptate consequuntur odio. Molestiae porro eveniet eos omnis nobis, amet quis enim!
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsa dolor quas dignissimos aspernatur ad minima earum perspiciatis mollitia unde laborum, inventore reprehenderit voluptatem pariatur debitis magnam eveniet laudantium explicabo.
        div(class="col-sm-5 right-text-container")
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus labore, tempora repellat pariatur animi. Enim laboriosam ducimus cumque, voluptate consequuntur odio. Molestiae porro eveniet eos omnis nobis, amet quis enim!
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsa dolor quas dignissimos aspernatur ad minima earum perspiciatis mollitia unde laborum, inventore reprehenderit voluptatem pariatur debitis magnam eveniet laudantium explicabo.