mixin header
    header(id="header" class="container-fluid")
        div(class="row")
            div(class="logo col-sm-4")
                div(class="fixed-field")
                    h1
                        a(href="/")
                            | PORTFOLIO VERSION 1.0.0
            nav(class="navigation col-sm-8")
                div(class="fixed-field")
                    ul
                        li
                            a(href="/")
                                | HOME
                        li
                            a(href="/portfolio")
                                | PORTFOLIO
                        li
                            a(href="about")
                                | ABOUT US
                        li
                            a(href="contact")
                                | CONTACT US
                        li
                            i(id="search-icon" class="fa fa-search fa-lg" aria-hidden="true")
                            div(id="searchbox-container" class="searchbox-container-hd")
                                form(class="searchbox-hd")
                                    input(class="searchbox-input-hd")
