include _header

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/static/css/reset.css")
        link(rel="stylesheet" href="/static/css/setup.css")
        link(rel="stylesheet" href="/static/css/style.css")
        script(src="/libs/jquery/dist/jquery.min.js")
        title Portolio Demo Version 1.0.0
    body()
        +header
        block body
        script(src="/static/scripts/nav.controller.js")
        script(src="/static/scripts/searchfield.controller.js")
        script(src="/static/scripts/icon.controller.js")
        script(src="/static/scripts/downarrow.controller.js")