extends shared/_master
include shared/_main-header

block body
    +header
    main
        section(class="head-section row")
            each page in pages
                div(class="col-sm-4")
                    div(class="img-container")
                        i(class="fa fa-comment-o fa-4x fa-hd" aria-hidden="true")
                    div(class="content-container")
                        h2
                            =page.title
                        p
                            =page.content[0]
        section(class="mid-section")
            div(class="mid-section-image")
        section(class="portfolio-section")
            h2
                | Our Projects
            each project in projects
                div(class="col-sm-4 project-container")
                    h3(class="project-title")
                        =project.title
                    img(class="img img-responsive project-image-hd" src=project.url)