extends shared/_master

block body
    main
        section(class="head-section row")
            div(class="col-sm-4")
                h2
                    | Who We Are
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam distinctio deserunt quisquam quas dignissimos exercitationem repellat vitae voluptate nihil eum, doloremque assumenda, recusandae quo blanditiis dolores sint sequi iste natus?
            div(class="col-sm-4")
                h2
                    | What We Offer
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam distinctio deserunt quisquam quas dignissimos exercitationem repellat vitae voluptate nihil eum, doloremque assumenda, recusandae quo blanditiis dolores sint sequi iste natus?
            div(class="col-sm-4")
                h2
                    | How To Contact Us
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam distinctio deserunt quisquam quas dignissimos exercitationem repellat vitae voluptate nihil eum, doloremque assumenda, recusandae quo blanditiis dolores sint sequi iste natus?
    footer