/* HEADER */

#header {
    margin-bottom: 24px;
    height: 680px;
    padding: 48px 0 8px 0;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    position: relative;
}
#header::after {
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 680px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    filter: grayscale(80%);
        -webkit-filter: grayscale(80%);
}

#header h1 {
    margin-left: 64px;
}

#header a  {
    color: #333333;
}
#header a:hover {
    color: #2F4F4F;
}

/* NAVIGATION */

.navigation ul {
    margin-left: 64px;
    list-style-type: none;
}
.navigation li {
    display: inline-block;
    margin: 0 24px 0 24px;
}
.navigation li:first-child {
    margin-left: 0;
}
.navigation li a {
    display: block;
    padding: 0 8px 0 8px;
    text-decoration: none;
}
.navigation li:first-child a {
    padding-left: 0;
}