/* HEADER */

#header {
    position: relative;
    height: 600px;
    padding: 0 0 32px 0;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-shadow: -1px 1px;
}
#header::after {
    position: fixed;
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    filter: grayscale(80%);
        -webkit-filter: grayscale(80%);
}

.logo {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 6px;
}

.logo a {
    background-image: url('../images/zen-bg1.png'), url('../images/zen-bg2.png');
    background-repeat: repeat-x repeat;
    color: #ffffff;
    padding: 16px;
}

/* NAVIGATION */

.fixed-field {
    position: fixed;
}
.navigation {
    background-image: url('../images/zen-bg1.png'), url('../images/zen-bg2.png');
    background-repeat: repeat-x repeat;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #000000;
}
.nav-controller {
    position: relative;
    background-color: rgba(150, 150, 150, 0.4);
    margin: 0 12px;
    padding: 10px 0;
    border-radius: 6px;
    transition: all 1s ease-in-out;
}
div.nav-controller:hover {
    background-color: rgba(200, 200, 200, 0.6);
    margin: 0 8px;
}
.navigation a, navigation i {
    color: #4b4e53;
}
.navigation a:hover, .navigation i:hover {
    color: #111111;
}
.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all 1s ease-in-out;
}
.navigation i {
    padding-left: 84%;
}


/* SEARCH */

#search-icon:hover {
    cursor: pointer;
}
.searchbox-container-hd {
    position: absolute;
    top: 6px;
    right: 18%;
    width: 0;
    margin-bottom: 0;
    transition: 1.2s ease-in-out;
}
.searchbox-container {
    position: absolute;
    top: 6px;
    right: 18%;
    width: 80%;
    transition: 1.2s ease-in-out;
}
.searchbox-hd, .searchbox-input-hd {
    width: 100%;
    opacity: 0;
    transition: 1.6s ease-in-out;
}
.searchbox, .searchbox-input {
    width: 100%;
    opacity: 1;
    transition: 1.6s ease-in-out;
}
.searchbox-input {
    border-radius: 4px;
    font-weight: 400;
    padding: 2px 4px;
}

/* MAIN */

body {
    overflow-x: hidden;
    overflow-y: scroll;
}
main {
    background: url('../images/content-background.png');
}
.head-section {
    background: url('../images/content-shadow-background.png') repeat-x top left;
    padding: 48px 0 64px 0;
}
.img-container {
    width: 20%;
    float: left;
}
.content-container {
    width: 80%;
    float: left;
}
.fa-show {
    padding-left: 32px;
    color: #0c470c;
    transform: rotateX(0);
    transition: 1.2s ease-in-out;
}

.fa-hd {
    padding-left: 12px;
    color: #336be3;
    transform: rotateX(90deg);
    transition: 1.2s ease-in-out;
}
.content-container h2 {
    font-size: 1.6rem;
    text-shadow: -1px -1px;
}
.content-container p {
    font-size: 1.2rem;
}
.content-container h2, .content-container p {
    padding: 4px 16px;
    letter-spacing: 1.2px;
}
